<div class="limiter">
  <div class="container-login100">
    <div class="clickabe-div" [routerLink]="['/claim']">
      <img src="assets/home-img.png" alt="">
      <br />
      <h1 class="play-now">PLAY NOW</h1>
    </div>
    <!-- <div class="wrap-login100">
      <div class="login100-pic js-tilt" data-tilt="">
        <img width="100%" src="assets/logo_4.png" alt="IMG" />      
      </div>

      <form #registrationForm="ngForm" (ngSubmit)="registerPlayer(registrationForm)" class="login100-form validate-form" *ngIf="signUp">
        <span class="login100-form-title">
          Register
        </span>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" [(ngModel)]="Player.name" type="text" name="username" placeholder="Full Name">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" [(ngModel)]="Player.email" type="text" name="email" placeholder="Email Address">
          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" [(ngModel)]="Player.mobileNumber" type="text" name="mobile" placeholder="Mobile Number">
          <span class="focus-input100"></span>
        </div>
        

        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" [(ngModel)]="Player.passwordHash" type="password" name="pass" placeholder="Password">
          <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="button" [routerLink]="['/home']">
            Submit
          </button>
        </div>

        <div class="text-center p-t-12">
          <a class="txt2" (click)="setLogin()" style="cursor: pointer;">
            Already a member? Sign in
          </a>
        </div>
      </form>

      <form #myForm="ngForm" (ngSubmit)="onSubmit()" class="login100-form validate-form" *ngIf="!signUp">
        <span class="login100-form-title">
          Member Login
        </span>

        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
          <input class="input100" [(ngModel)]="Login.email" type="text" name="email" placeholder="Email Address">
          <span class="focus-input100"></span>
        </div>
        
        <div class="wrap-input100 validate-input" data-validate="Password is required">
          <input class="input100" [(ngModel)]="Login.passwordHash" type="password" name="pass" placeholder="Password">
          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Login
          </button>
        </div>

        <div class="text-center p-t-12" style="cursor: pointer;">
          <a class="txt2" (click)="setSignUp()">
            Create your Account
          </a>
        </div>
      </form>
    </div> -->
  </div>
</div>