<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 row">
      <!-- <ul>
        <li class="clickabe-div" [routerLink]="['/claim-result']">

        </li>
      </ul> -->
      <div class="col-md-12 mb-5 text-center">
        <h1>Claim your win!</h1>
      </div>
      <div class="col-md-3" [routerLink]="['/result']">
        <button class="btn btn-danger ">First Line</button>
      </div>
      <div class="col-md-3" [routerLink]="['/result']">
        <button class="btn btn-warning " style="color: white;">Middle Line</button>
      </div>
      <div class="col-md-3" [routerLink]="['/result']">
        <button class="btn btn-primary ">Bottom Line</button>
      </div>
      <div class="col-md-3" [routerLink]="['/result']">
        <button class="btn btn-success ">Full Housie</button>
      </div>

      <!-- <div class="col-md-4 mb-5" *ngFor="let item of items; let i=index;">
        <button class="btn btn-success d-flex" type="submit" *ngIf="i===0">First Line </button>
        <button class="btn btn-success d-flex" type="submit" *ngIf="i===1">First Line </button>
        <button class="btn btn-success d-flex" type="submit" *ngIf="i===2">First Line </button>
      </div>
      <button class="ml-auto mr-auto btn btn-primary btn-xl d-flex">Full Housie</button> -->
    </div>
  </div>
</div>